@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Set the font family and max width of the container */
body {
  font-family: 'Montserrat', sans-serif;
}

.stock-data-container {
  max-height: 1000px;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.table-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style the table heading */
h1 {
  margin-top: 10px;
  background-color: #f7f7f7;
  color: #4087BC;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

table {
  margin-top: 1px;
  max-width: 1400px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the table header */
thead {
  background-color: #4087BC;
  color: white;
}

th {
  padding: 12px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

/* Style the table rows */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Alternate background color for rows */
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Style the table data */
td {
  padding: 12px;
  text-align: center;
}

.btn {
  background-color: #F29F4F;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f7f7f7;
  color: #F29F4F;
}